<%- include('header') %>
  <div class="wrapper wrapper-register">
    <form method="post">
      <input type="text" name="username" class="user" placeholder="用户名"><br>
      <input type="password" name="password" class="pass" placeholder="密码"><br>
      <input type="password" name="repassword" class="pass" placeholder="重复密码"><br>
      <button type="submit">注册</button>
    </form>
    <p class="register">
      <a href="login">返回登录页</a>
    </p>
  </div>
<%- include('footer') %>