html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-style: 14px;
  font-family: 'Microsoft YaHei';
}
a {
  text-decoration: none;
  color: #34B9F5;
}
a:hover {
  color: #39f;
}
/*---------------注册---------------*/
.wrapper {
  width: 600px;
  height: 300px;
  border: 1px solid #000;
  margin: 200px auto;
  text-align: center;
}
.wrapper input {
  width: 200px;
  height: 30px;
  margin-top: 150px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 3px;
}
.wrapper button {
  width: 60px;
  height: 32px;
  cursor: pointer;
  background: #2DB7F5;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
}
/*---------------登陆---------------*/
.wrapper-register {
  width: 500px;
  height: 300px;
  margin: 200px auto;
  border: 1px solid #000;
  text-align: center;
  padding-top: 50px;
}
.wrapper-register input {
  width: 300px;
  margin-top: 18px;
}
.wrapper-register button {
  width: 300px;
  margin-top: 18px;
}


